.modeler {
	display: grid;
	grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, max-content);
	grid-template-areas: "explorer viewport inspector";

	> .explorer-container {
		grid-area: explorer;
		min-width: 15vw;
		max-width: 45vw;
		height: 100vh;
	}

	> .viewport-container {
		grid-area: viewport;
		height: 100vh;
	}

	> .inspector-container {
		grid-area: inspector;
		min-width: 15vw;
		max-width: 45vw;
		height: 100vh;
	}
}
