.modeler {
	display: grid;
	grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, max-content);
	grid-template-areas: "explorer vieport inspector";

    > .explorer-container {
        min-width: 15vw;
        max-width: 45vw;
    }
}
 