.resizable-div {
    position: relative;

    > .resizer {
        position: absolute;
        top: 0;
        width: 5px;
        height: 100%;
        cursor: e-resize;
        background: transparent;
        user-select: none;
    }

    > .left-resizer {
        left: 0;
    }

    > .right-resizer {
        right: 0;
    }
}